<table class="table table-hover">
    <tr>
        Restaurant Name: {{ post.name }}
        Address:{{ post.address }}
        Phone:{{ post.phone }}
        Price Range:{{ post.price_range }}
        District:{{post.district_name}}
        Cuisine:{{post.cuisine_name}}
</tr>
</table>
