{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<img src="https://static5.orstatic.com/userphoto/Coupon/0/8Z/001RW8D39A69F36836E894lv.jpg", height="300" width="300">
<img src="https://static7.orstatic.com/userphoto/Coupon/0/8Z/001RVM8CA5B27E9B2931D6lv.jpg", height="300" width="300">
<img src="https://static7.orstatic.com/userphoto/Coupon/0/8Z/001RVI5BFFD25F56D25759lv.jpg", height="300" width="300">
<img src="https://static5.orstatic.com/userphoto/Coupon/0/8Z/001RUG41C48DECE3D1F7D8lv.jpg", height="300" width="300">
{% endblock %}
